.user-list-container {
    padding: 16px;
  }
  
  .user-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  @media (max-width: 768px) {
    .user-list-header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .ant-table-wrapper .ant-spin-nested-loading {
      overflow-x: auto;
    }
  }


.user-detail-container {
  padding: 20px;
}

.user-detail-container.mobile .user-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-detail .ant-descriptions {
  width: 100%;
}

.user-detail .ant-avatar {
  margin-bottom: 16px;
}

  